<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2">
            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Dossiers
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <!--<div class="card-body">
                    </div>-->
                    <div class="list-group list-group-flush">
                      <a *ngFor="let folder of photosFolders;let i = index;" (click)="loadFolderPhotos(folder, i)" class="list-group-item list-group-item-action" [class.active]="selectedFolder === i">
                         {{folder | lastDir}}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Personnes
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      ????
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Albums
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                      ????
                    </div>
                  </div>
                </div>
              </div>
            <ul>
                  
            </ul>
        </div>
        
        <div class="col-xl">

          <div *ngFor="let photoDate of getPhotosDateGroups();"class="row">
            <div class="col-xl-12 display-4 bg-light border -2 mb-2-2">{{photoDate | date:'mediumDate':'':'fr-FR'}}</div>
            <div class="clearfix"></div>
            <div *ngFor="let photoPath of photosPath[photoDate]; let i = index">
                <div class="clearfix" *ngIf="i % 3 == 0"></div>
                <div class="col-xl-2 img-container"><img [src]="sanitizer.bypassSecurityTrustUrl(photoPath)" (click)="showPhotoProperties(photoPath)"></div>
            </div>
          </div>

        </div>

        <div class="col-xl-3">
            <div *ngIf="photoPpt != null" class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="sanitizer.bypassSecurityTrustUrl(photoPpt.path)" alt="Photo thumb goes here">
                <div class="card-body">
                  <h5 class="card-title">{{photoPpt.filename}}</h5>
                  <p class="card-text">{{photoPpt.date | date:'mediumDate':'':'fr-FR'}}</p>
                  <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Personnes</b></li>
                    <li class="list-group-item"><span *ngFor="let person of photoPpt.persons">{{person}} </span></li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Albums</b></li>
                    <li class="list-group-item"><a role="button" *ngFor="let album of photoPpt.albums" class="btn btn-outline-primary mr-2 mb-2" href="#">{{album}} </a></li>
                    <li class="list-group-item">
                      {{diagnostic}}
                        <form class="form-inline" #albumForm="ngForm" (ngSubmit)="onAlbumSubmit()">
                            <input type="text" [(ngModel)]="albumAdded" name="album" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Album">
                            <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-plus"></i></button>
                          </form>
                    </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Catégories</b></li>
                    <li class="list-group-item"><span *ngFor="let categorie of photoPpt.categories">{{categorie}} </span></li>
                </ul>
              </div>
            </div>
        </div>
</div>
